In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy import inspect, create_engine, select
import numpy as np

## Dataframe to load

In [3]:
database_insert_csv = pd.read_csv('data/english_dataset.csv')
database_insert_csv

,en,iso_code,year,wri,exposure,vulnerability,susceptibility,coping_inability,adaptive_inability,wri_category,exposure_category,vulnerability_category,susceptibility_category
0,Vanuatu,VU,2011,32.00,56.33,56.81,37.14,79.34,53.96,Very High,Very High,High,High
1,Tonga,TO,2011,29.08,56.04,51.90,28.94,81.80,44.97,Very High,Very High,Medium,Medium
2,Philippines,PH,2011,24.32,45.09,53.93,34.99,82.78,44.01,Very High,Very High,High,High
3,Solomon Islands,SB,2011,23.51,36.40,64.60,44.11,85.95,63.74,Very High,Very High,Very High,High
4,Guatemala,GT,2011,20.88,38.42,54.35,35.36,77.83,49.87,Very High,Very High,High,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1912,Grenada,GD,2016,1.42,3.13,45.39,24.54,68.82,42.82,Very Low,Very Low,Medium,Medium
1913,Barbados,BB,2016,1.32,3.46,38.26,18.20,50.29,46.29,Very Low,Very Low,Low,Low
1914,Saudi Arabia,SA,2016,1.14,2.93,38.96,14.80,65.01,37.07,Very Low,Very Low,Low,Very Low
1915,Malta,MT,2016,0.60,1.65,36.25,15.97,59.33,33.44,Very Low,Very Low,Low,Very Low
1916,Qatar,QA,2016,0.08,0.28,28.18,9.68,43.94,30.93,Very Low,Very Low,Very Low,Very Low

## Database connection

In [ ]:
protocol = 
username = 
password = 
host = 
port = 
db_name = 
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{db_name}'
engine = create_engine(rds_connection_string)