# Adding WRI to GeoJSON file

In [1]:
#Dependentices
import json
import pandas as pd

### Load GeoJSON

In [2]:
#choosing the country GeoJSON
filepath = 'static/data/countries.geojson'

In [3]:
#opeing GeoJSON
with open(filepath) as f:
    json_data = json.load(f)

In [4]:
#Check data format for each country's dictionary
for i in range(10):
    print(json_data['features'][i]['properties'])

{'ADMIN': 'Aruba', 'ISO_A3': 'ABW'}
{'ADMIN': 'Afghanistan', 'ISO_A3': 'AFG'}
{'ADMIN': 'Angola', 'ISO_A3': 'AGO'}
{'ADMIN': 'Anguilla', 'ISO_A3': 'AIA'}
{'ADMIN': 'Albania', 'ISO_A3': 'ALB'}
{'ADMIN': 'Aland', 'ISO_A3': 'ALA'}
{'ADMIN': 'Andorra', 'ISO_A3': 'AND'}
{'ADMIN': 'United Arab Emirates', 'ISO_A3': 'ARE'}
{'ADMIN': 'Argentina', 'ISO_A3': 'ARG'}
{'ADMIN': 'Armenia', 'ISO_A3': 'ARM'}

### Loading WRI from CSV

In [5]:
#read csv file 
df = pd.read_csv('static/data/english_dataset.csv')
df.head()

,id,country_name,iso_code,year,wri,exposure,vulnerability,susceptibility,coping_inability,adaptive_inability,wri_category,exposure_category,vulnerability_category,susceptibility_category
0,1,Vanuatu,VUT,2011,32.00,56.33,56.81,37.14,79.34,53.96,Very High,Very High,High,High
1,2,Vanuatu,VUT,2012,36.31,63.66,57.04,34.17,81.19,55.78,Very High,Very High,High,High
2,3,Vanuatu,VUT,2013,36.43,63.66,57.23,34.66,81.27,55.77,Very High,Very High,High,High
3,4,Vanuatu,VUT,2014,36.50,63.66,57.34,36.40,81.16,54.45,Very High,Very High,High,High
4,5,Vanuatu,VUT,2015,36.72,63.66,57.68,35.69,81.16,56.20,Very High,Very High,High,High

In [6]:
#Find the years we are looking for
year_2011 = 2011

,id,country_name,iso_code,year,wri,exposure,vulnerability,susceptibility,coping_inability,adaptive_inability,wri_category,exposure_category,vulnerability_category,susceptibility_category
0,1,Vanuatu,VUT,2011,32.00,56.33,56.81,37.14,79.34,53.96,Very High,Very High,High,High
11,12,Bolivia (Plurinational State of),BOL,2011,5.16,9.34,55.23,43.45,80.64,41.61,Very Low,Low,High,High
22,23,Jordan,JOR,2011,5.13,11.50,44.61,24.18,67.33,42.33,Low,Low,Low,Medium
33,34,Iran (Islamic Republic of),IRN,2011,5.11,10.40,49.07,21.48,80.01,45.73,Low,Low,Medium,Low
44,45,Lebanon,LBN,2011,5.01,11.12,45.03,21.05,70.28,43.75,Low,Low,Low,Low

In [7]:
#count the countries
num_countries = len(df_year)
print(f'this dataframe contains {num_countries} countries.')

this dataframe contains 172 countries.

### Choose Additional Value

In [8]:
#reaarranging the data set to be by ISO Code
df_year = df_year.set_index('iso_code')
df_year.head()

,id,country_name,year,wri,exposure,vulnerability,susceptibility,coping_inability,adaptive_inability,wri_category,exposure_category,vulnerability_category,susceptibility_category
iso_code,,,,,,,,,,,,,
VUT,1,Vanuatu,2011,32.00,56.33,56.81,37.14,79.34,53.96,Very High,Very High,High,High
BOL,12,Bolivia (Plurinational State of),2011,5.16,9.34,55.23,43.45,80.64,41.61,Very Low,Low,High,High
JOR,23,Jordan,2011,5.13,11.50,44.61,24.18,67.33,42.33,Low,Low,Low,Medium
IRN,34,Iran (Islamic Republic of),2011,5.11,10.40,49.07,21.48,80.01,45.73,Low,Low,Medium,Low
LBN,45,Lebanon,2011,5.01,11.12,45.03,21.05,70.28,43.75,Low,Low,Low,Low

### Add New Value to GeoJSON

In [9]:
#Add the new value to the json_data
for country in json_data['features']:
    country_code = country['properties']['ISO_A3']
    
    try:
        value_to_add = df_year.loc[country_code, :]['wri']
        print(f'Adding value for {country_code}')
        
    except KeyError:
        value_to_add = 0
        
    country['properties']['wri'] = value_to_add

Adding value for AFG
Adding value for AGO
Adding value for ALB
Adding value for ARE
Adding value for ARG
Adding value for ARM
Adding value for AUS
Adding value for AUT
Adding value for AZE
Adding value for BDI
Adding value for BEL
Adding value for BEN
Adding value for BFA
Adding value for BGD
Adding value for BGR
Adding value for BHR
Adding value for BHS
Adding value for BIH
Adding value for BLR
Adding value for BLZ
Adding value for BOL
Adding value for BRA
Adding value for BRB
Adding value for BRN
Adding value for BTN
Adding value for BWA
Adding value for CAF
Adding value for CAN
Adding value for CHE
Adding value for CHL
Adding value for CHN
Adding value for CIV
Adding value for CMR
Adding value for COG
Adding value for COL
Adding value for COM
Adding value for CPV
Adding value for CRI
Adding value for CUB
Adding value for CYP
Adding value for CZE
Adding value for DEU
Adding value for DJI
Adding value for DNK
Adding value for DOM
Adding value for DZA
Adding value for ECU
Adding value for EGY
Adding value for ERI
Adding value for ESP
Adding value for EST
Adding value for ETH
Adding value for FIN
Adding value for FJI
Adding value for FRA
Adding value for GAB
Adding value for GBR
Adding value for GEO
Adding value for GHA
Adding value for GIN
Adding value for GMB
Adding value for GNB
Adding value for GNQ
Adding value for GRC
Adding value for GRD
Adding value for GTM
Adding value for GUY
Adding value for HND
Adding value for HRV
Adding value for HTI
Adding value for HUN
Adding value for IDN
Adding value for IND
Adding value for IRL
Adding value for IRN
Adding value for IRQ
Adding value for ISL
Adding value for ISR
Adding value for ITA
Adding value for JAM
Adding value for JOR
Adding value for JPN
Adding value for KAZ
Adding value for KEN
Adding value for KGZ
Adding value for KHM
Adding value for KIR
Adding value for KOR
Adding value for KWT
Adding value for LAO
Adding value for LBN
Adding value for LBR
Adding value for LBY
Adding value for LKA
Adding value for LSO
Adding value for LTU
Adding value for LUX
Adding value for LVA
Adding value for MAR
Adding value for MDA
Adding value for MDG
Adding value for MEX
Adding value for MKD
Adding value for MLI
Adding value for MLT
Adding value for MMR
Adding value for MNG
Adding value for MOZ
Adding value for MRT
Adding value for MUS
Adding value for MWI
Adding value for MYS
Adding value for NER
Adding value for NGA
Adding value for NIC
Adding value for NLD
Adding value for NOR
Adding value for NPL
Adding value for NZL
Adding value for OMN
Adding value for PAK
Adding value for PAN
Adding value for PER
Adding value for PHL
Adding value for PNG
Adding value for POL
Adding value for PRT
Adding value for PRY
Adding value for QAT
Adding value for ROU
Adding value for RUS
Adding value for RWA
Adding value for SAU
Adding value for SDN
Adding value for SEN
Adding value for SGP
Adding value for SLB
Adding value for SLE
Adding value for SLV
Adding value for SRB
Adding value for STP
Adding value for SUR
Adding value for SVK
Adding value for SVN
Adding value for SWE
Adding value for SWZ
Adding value for SYC
Adding value for SYR
Adding value for TCD
Adding value for TGO
Adding value for THA
Adding value for TJK
Adding value for TKM
Adding value for TLS
Adding value for TON
Adding value for TTO
Adding value for TUN
Adding value for TUR
Adding value for TZA
Adding value for UGA
Adding value for UKR
Adding value for URY
Adding value for USA
Adding value for UZB
Adding value for VEN
Adding value for VNM
Adding value for VUT
Adding value for WSM
Adding value for YEM
Adding value for ZAF
Adding value for ZMB
Adding value for ZWE

In [10]:
#checking data
for i in range(10):
    print(json_data['features'][i]['properties'])

{'ADMIN': 'Aruba', 'ISO_A3': 'ABW', 'wri': 0}
{'ADMIN': 'Afghanistan', 'ISO_A3': 'AFG', 'wri': 14.06}
{'ADMIN': 'Angola', 'ISO_A3': 'AGO', 'wri': 8.02}
{'ADMIN': 'Anguilla', 'ISO_A3': 'AIA', 'wri': 0}
{'ADMIN': 'Albania', 'ISO_A3': 'ALB', 'wri': 9.98}
{'ADMIN': 'Aland', 'ISO_A3': 'ALA', 'wri': 0}
{'ADMIN': 'Andorra', 'ISO_A3': 'AND', 'wri': 0}
{'ADMIN': 'United Arab Emirates', 'ISO_A3': 'ARE', 'wri': 4.09}
{'ADMIN': 'Argentina', 'ISO_A3': 'ARG', 'wri': 3.77}
{'ADMIN': 'Armenia', 'ISO_A3': 'ARM', 'wri': 6.9}

### Save Updated GeoJSON

In [ ]:
with open('static/data/countries_wri.geojson', 'w', encoding='utf-8') as f:
    json.dump(json_data, f, ensure_ascii=False, indent=4)