 
# Project 3:  World Disaster Risk Visualization 

# Contributors: Hyeeun Hughes, Lief Herzfeld, Jacob McManaman and Sarah Stoffel (Group 7)

## Overview

--- 

we visualized the World Risk Index category rank out of the 181 countries by year from 2011 to 2021.

Here is the link to dataset: <br>
https://www.kaggle.com/datasets/tr1gg3rtrash/global-disaster-risk-index-time-series-dataset <br>

In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect

# Extract

### Extract CSVs into DataFrames

We start by loading the csv file into dataframes and do .head() to see what's in the dataframes.

In [5]:
wri_file = "../Resources/world_risk_index.csv"
wri_rank_df = pd.read_csv(wri_file)
wri_rank_df.head()

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category
0,Vanuatu,32.00,56.33,56.81,37.14,79.34,53.96,2011,Very High,Very High,High,High
1,Tonga,29.08,56.04,51.90,28.94,81.80,44.97,2011,Very High,Very High,Medium,Medium
2,Philippinen,24.32,45.09,53.93,34.99,82.78,44.01,2011,Very High,Very High,High,High
3,Salomonen,23.51,36.40,64.60,44.11,85.95,63.74,2011,Very High,Very High,Very High,High
4,Guatemala,20.88,38.42,54.35,35.36,77.83,49.87,2011,Very High,Very High,High,High

# Transform

we selected the columns we needed, renamed them, and drop NaN values.

In [8]:
# Create a filtered dataframe from specific columns
wri_rank_col = ["Region", "WRI", "Year", "WRI Category"]
wri_rank_transformed_df = wri_rank_df[wri_rank_col].copy()

# Drop any NaN values
wri_rank_transformed_df = wri_rank_transformed_df.dropna()

# Rename the column headers
wri_rank_transformed_df = wri_rank_transformed_df.rename(columns={"Region": "Country_Name",
                                                           "WRI": "WRI_Score",
                                                           "WRI Category": "WRI_Category"})
wri_rank_transformed_df.head()

  Country_Name  WRI_Score  Year WRI_Category
0      Vanuatu      32.00  2011    Very High
1        Tonga      29.08  2011    Very High
2  Philippinen      24.32  2011    Very High
3    Salomonen      23.51  2011    Very High
4    Guatemala      20.88  2011    Very High

# Sort by Year


we located them by year, and sorted by WRI_Score.

In [11]:
# 2011
wri_2011_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2011)]
wri_2011_df

      Country_Name  WRI_Score  Year WRI_Category
0          Vanuatu      32.00  2011    Very High
1            Tonga      29.08  2011    Very High
2      Philippinen      24.32  2011    Very High
3        Salomonen      23.51  2011    Very High
4        Guatemala      20.88  2011    Very High
..             ...        ...   ...          ...
168        Bahrain       1.66  2011     Very Low
169         Island       1.56  2011     Very Low
170  Saudi-Arabien       1.26  2011     Very Low
171          Malta       0.72  2011     Very Low
172          Katar       0.02  2011     Very Low

[173 rows x 4 columns]

In [12]:
wri_2011_df.sort_values("WRI_Score", ascending = True).head(60)

                    Country_Name  WRI_Score  Year WRI_Category
172                        Katar       0.02  2011     Very Low
171                        Malta       0.72  2011     Very Low
170                Saudi-Arabien       1.26  2011     Very Low
169                       Island       1.56  2011     Very Low
168                      Bahrain       1.66  2011     Very Low
167                     Kiribati       1.88  2011     Very Low
166                     Schweden       2.00  2011     Very Low
165                     Finnland       2.06  2011     Very Low
164                      Estland       2.25  2011     Very Low
163                     Norwegen       2.28  2011     Very Low
162                      Grenada       2.29  2011     Very Low
161                      Ägypten       2.38  2011     Very Low
160                     Barbados       2.44  2011     Very Low
159                      Schweiz       2.55  2011     Very Low
158                       Kanada       2.57  2011     Very Low
157                       Israel       2.60  2011     Very Low
156                   Seychellen       2.68  2011     Very Low
155                    Luxemburg       2.70  2011     Very Low
154                   Frankreich       2.76  2011     Very Low
153                         Oman       2.80  2011     Very Low
152                     Singapur       2.85  2011     Very Low
151                     Dänemark       2.86  2011     Very Low
150                      Litauen       2.89  2011     Very Low
149                  Deutschland       2.96  2011     Very Low
148                      Belarus       2.98  2011     Very Low
147                      Ukraine       3.02  2011     Very Low
146                     Lettland       3.09  2011     Very Low
145                      Spanien       3.29  2011     Very Low
144                     Slowakei       3.38  2011     Very Low
143                   Österreich       3.41  2011     Very Low
142                        Polen       3.42  2011     Very Low
141                     Mongolei       3.43  2011     Very Low
140                       Zypern       3.46  2011     Very Low
139                      Belgien       3.51  2011     Very Low
138         Russische Föderation       3.56  2011     Very Low
137       Vereinigtes Königreich       3.61  2011          Low
136                     Portugal       3.62  2011          Low
135                       Libyen       3.67  2011          Low
134                       Kuwait       3.71  2011          Low
133                     Kroatien       3.71  2011          Low
132     Vereinigte Staaten v. A.       3.72  2011          Low
131                    Slowenien       3.72  2011          Low
130        São Tomé und Príncipe       3.73  2011          Low
129                  Argentinien       3.77  2011          Low
128                      Uruguay       3.94  2011          Low
127                   Kasachstan       4.04  2011          Low
126                    Bulgarien       4.08  2011          Low
125  Vereinigte Arabisch Emirate       4.09  2011          Low
124                     Paraguay       4.12  2011          Low
123                     Südkorea       4.14  2011          Low
122        Tschechische Republik       4.15  2011          Low
121                       Irland       4.15  2011          Low
120                    Brasilien       4.26  2011          Low
119                   Neuseeland       4.28  2011          Low
118                   Australien       4.28  2011          Low
117                      Bahamas       4.52  2011          Low
116                      Italien       4.74  2011          Low
115                       Moldau       4.78  2011          Low
114                      Libanon       5.01  2011          Low
113                         Iran       5.11  2011          Low

In [15]:
# 2012
wri_2012_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2012)]
wri_2012_df

       Country_Name  WRI_Score  Year WRI_Category
1401        Vanuatu      36.31  2012    Very High
1402          Tonga      28.62  2012    Very High
1403    Philippinen      27.98  2012    Very High
1404      Guatemala      20.75  2012    Very High
1405    Bangladesch      20.22  2012    Very High
...             ...        ...   ...          ...
1569        Grenada       1.46  2012     Very Low
1570  Saudi-Arabien       1.31  2012     Very Low
1571       Barbados       1.15  2012     Very Low
1572          Malta       0.61  2012     Very Low
1573          Katar       0.10  2012     Very Low

[173 rows x 4 columns]

In [14]:
wri_2012_df.sort_values("WRI_Score", ascending = True).head(60)

                       Country_Name  WRI_Score  Year WRI_Category
345                           Katar       0.10  2013     Very Low
344                           Malta       0.61  2013     Very Low
343                        Barbados       1.16  2013     Very Low
342                   Saudi-Arabien       1.32  2013     Very Low
341                         Grenada       1.44  2013     Very Low
340                          Island       1.55  2013     Very Low
339                        Kiribati       1.78  2013     Very Low
338                         Bahrain       1.81  2013     Very Low
337    Vereinigte Arabische Emirate       2.10  2013     Very Low
336                        Schweden       2.26  2013     Very Low
335                        Finnland       2.28  2013     Very Low
334                         Ägypten       2.34  2013     Very Low
333                        Norwegen       2.35  2013     Very Low
331                        Singapur       2.49  2013     Very Low
332                          Israel       2.49  2013     Very Low
330                         Estland       2.52  2013     Very Low
329                      Seychellen       2.58  2013     Very Low
328                         Schweiz       2.61  2013     Very Low
327                       Luxemburg       2.68  2013     Very Low
326                            Oman       2.74  2013     Very Low
325                          Zypern       2.77  2013     Very Low
324                      Frankreich       2.79  2013     Very Low
322                        Mongolei       3.10  2013     Very Low
323                        Dänemark       3.10  2013     Very Low
321                         Ukraine       3.14  2013     Very Low
319                          Kanada       3.18  2013     Very Low
320                         Litauen       3.18  2013     Very Low
318                     Deutschland       3.24  2013     Very Low
317                    Weißrussland       3.31  2013     Very Low
316           São Tomé und Príncipe       3.35  2013     Very Low
315                         Spanien       3.38  2013     Very Low
314                         Belgien       3.42  2013     Very Low
313                           Polen       3.46  2013     Very Low
312                        Lettland       3.48  2013     Very Low
311           Tschechische Republik       3.61  2013     Very Low
310                        Slowakei       3.63  2013          Low
309                       Slowenien       3.69  2013          Low
308                          Kuwait       3.70  2013          Low
307          Vereinigtes Königreich       3.71  2013          Low
306                     Argentinien       3.76  2013          Low
305            Russische Föderation       3.78  2013          Low
304                      Österreich       3.80  2013          Low
303                        Portugal       3.80  2013          Low
302                      Kasachstan       3.84  2013          Low
301                        Paraguay       3.85  2013          Low
300                          Libyen       3.93  2013          Low
298                         Bahamas       3.99  2013          Low
299  Vereinigte Staaten von Amerika       3.99  2013          Low
297                         Uruguay       4.09  2013          Low
296                        Kroatien       4.24  2013          Low
295                       Brasilien       4.26  2013          Low
294                       Bulgarien       4.43  2013          Low
293                Äquatorialguinea       4.49  2013          Low
292                           Samoa       4.51  2013          Low
291                      Australien       4.51  2013          Low
289                          Irland       4.69  2013          Low
290                      Neuseeland       4.69  2013          Low
288                            Irak       4.83  2013          Low
287                         Italien       4.88  2013          Low
286                       Jordanien       4.88  2013          Low

In [16]:
# 2013
wri_2013_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2013)]
wri_2013_df

      Country_Name  WRI_Score  Year WRI_Category
173        Vanuatu      36.43  2013    Very High
174          Tonga      28.23  2013    Very High
175    Philippinen      27.52  2013    Very High
176      Guatemala      20.88  2013    Very High
177    Bangladesch      19.81  2013    Very High
..             ...        ...   ...          ...
341        Grenada       1.44  2013     Very Low
342  Saudi-Arabien       1.32  2013     Very Low
343       Barbados       1.16  2013     Very Low
344          Malta       0.61  2013     Very Low
345          Katar       0.10  2013     Very Low

[173 rows x 4 columns]

In [17]:
wri_2013_df.sort_values("WRI_Score", ascending = True).head(60)

                       Country_Name  WRI_Score  Year WRI_Category
345                           Katar       0.10  2013     Very Low
344                           Malta       0.61  2013     Very Low
343                        Barbados       1.16  2013     Very Low
342                   Saudi-Arabien       1.32  2013     Very Low
341                         Grenada       1.44  2013     Very Low
340                          Island       1.55  2013     Very Low
339                        Kiribati       1.78  2013     Very Low
338                         Bahrain       1.81  2013     Very Low
337    Vereinigte Arabische Emirate       2.10  2013     Very Low
336                        Schweden       2.26  2013     Very Low
335                        Finnland       2.28  2013     Very Low
334                         Ägypten       2.34  2013     Very Low
333                        Norwegen       2.35  2013     Very Low
331                        Singapur       2.49  2013     Very Low
332                          Israel       2.49  2013     Very Low
330                         Estland       2.52  2013     Very Low
329                      Seychellen       2.58  2013     Very Low
328                         Schweiz       2.61  2013     Very Low
327                       Luxemburg       2.68  2013     Very Low
326                            Oman       2.74  2013     Very Low
325                          Zypern       2.77  2013     Very Low
324                      Frankreich       2.79  2013     Very Low
322                        Mongolei       3.10  2013     Very Low
323                        Dänemark       3.10  2013     Very Low
321                         Ukraine       3.14  2013     Very Low
319                          Kanada       3.18  2013     Very Low
320                         Litauen       3.18  2013     Very Low
318                     Deutschland       3.24  2013     Very Low
317                    Weißrussland       3.31  2013     Very Low
316           São Tomé und Príncipe       3.35  2013     Very Low
315                         Spanien       3.38  2013     Very Low
314                         Belgien       3.42  2013     Very Low
313                           Polen       3.46  2013     Very Low
312                        Lettland       3.48  2013     Very Low
311           Tschechische Republik       3.61  2013     Very Low
310                        Slowakei       3.63  2013          Low
309                       Slowenien       3.69  2013          Low
308                          Kuwait       3.70  2013          Low
307          Vereinigtes Königreich       3.71  2013          Low
306                     Argentinien       3.76  2013          Low
305            Russische Föderation       3.78  2013          Low
304                      Österreich       3.80  2013          Low
303                        Portugal       3.80  2013          Low
302                      Kasachstan       3.84  2013          Low
301                        Paraguay       3.85  2013          Low
300                          Libyen       3.93  2013          Low
298                         Bahamas       3.99  2013          Low
299  Vereinigte Staaten von Amerika       3.99  2013          Low
297                         Uruguay       4.09  2013          Low
296                        Kroatien       4.24  2013          Low
295                       Brasilien       4.26  2013          Low
294                       Bulgarien       4.43  2013          Low
293                Äquatorialguinea       4.49  2013          Low
292                           Samoa       4.51  2013          Low
291                      Australien       4.51  2013          Low
289                          Irland       4.69  2013          Low
290                      Neuseeland       4.69  2013          Low
288                            Irak       4.83  2013          Low
287                         Italien       4.88  2013          Low
286                       Jordanien       4.88  2013          Low

In [18]:
# 2014
wri_2014_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2014)]
wri_2014_df

     Country_Name  WRI_Score  Year WRI_Category
517       Vanuatu      36.50  2014    Very High
518   Philippines      28.25  2014    Very High
519         Tonga      28.23  2014    Very High
520     Guatemala      20.68  2014    Very High
521    Bangladesh      19.37  2014    Very High
..            ...        ...   ...          ...
683       Grenada       1.44  2014     Very Low
684      Barbados       1.21  2014     Very Low
685  Saudi Arabia       1.17  2014     Very Low
686         Malta       0.62  2014     Very Low
687         Qatar       0.08  2014     Very Low

[171 rows x 4 columns]

In [19]:
wri_2014_df.sort_values("WRI_Score", ascending = True).head(60)

               Country_Name  WRI_Score  Year WRI_Category
687                   Qatar       0.08  2014     Very Low
686                   Malta       0.62  2014     Very Low
685            Saudi Arabia       1.17  2014     Very Low
684                Barbados       1.21  2014     Very Low
683                 Grenada       1.44  2014     Very Low
682                 Iceland       1.56  2014     Very Low
681                Kiribati       1.72  2014     Very Low
680                 Bahrain       1.78  2014     Very Low
679    United Arab Emirates       1.91  2014     Very Low
678                  Sweden       2.19  2014     Very Low
677                 Finland       2.24  2014     Very Low
676               Singapore       2.25  2014     Very Low
675                   Egypt       2.29  2014     Very Low
674                  Norway       2.31  2014     Very Low
673                  Israel       2.38  2014     Very Low
672                 Estonia       2.43  2014     Very Low
671             Switzerland       2.48  2014     Very Low
670              Seychelles       2.51  2014     Very Low
669              Luxembourg       2.52  2014     Very Low
668                  France       2.69  2014     Very Low
667                    Oman       2.74  2014     Very Low
666                  Cyprus       2.76  2014     Very Low
665                 Denmark       2.93  2014     Very Low
664                Mongolia       3.00  2014     Very Low
662               Lithuania       3.01  2014     Very Low
663                 Germany       3.01  2014     Very Low
661                 Ukraine       3.11  2014     Very Low
660                 Belarus       3.12  2014     Very Low
659                  Canada       3.14  2014     Very Low
658                   Spain       3.20  2014     Very Low
657                  Poland       3.28  2014     Very Low
656                  Kuwait       3.34  2014     Very Low
655                 Belgium       3.41  2014     Very Low
654                  Latvia       3.45  2014     Very Low
653          Czech Republic       3.46  2014     Very Low
652          United Kingdom       3.54  2014          Low
651                Slovakia       3.57  2014          Low
650                 Austria       3.58  2014          Low
649                Portugal       3.61  2014          Low
648                Slovenia       3.64  2014          Low
647               Argentina       3.68  2014          Low
646                Paraguay       3.74  2014          Low
645              Kazakhstan       3.74  2014          Low
644                  Russia       3.85  2014          Low
643           United States       3.88  2014          Low
642               Australia       3.93  2014          Low
640                 Uruguay       4.00  2014          Low
641  Libyan Arab Jamahiriya       4.00  2014          Low
639                 Bahamas       4.19  2014          Low
638             New Zealand       4.20  2014          Low
637                Bulgaria       4.21  2014          Low
636                 Croatia       4.28  2014          Low
635                  Brazil       4.30  2014          Low
634                   Italy       4.48  2014          Low
633                 Ireland       4.52  2014          Low
632       Equatorial Guinea       4.71  2014          Low
631                  Jordan       4.75  2014          Low
630       Korea Republic of       4.80  2014          Low
629                    Iraq       4.84  2014          Low
628                    Iran       4.88  2014          Low

In [20]:
# 2015
wri_2015_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2015)]
wri_2015_df

      Country_Name  WRI_Score  Year WRI_Category
346        Vanuatu      36.72  2015    Very High
347          Tonga      28.45  2015    Very High
348    Philippinen      27.98  2015    Very High
349      Guatemala      20.10  2015    Very High
350      Salomonen      19.29  2015    Very High
..             ...        ...   ...          ...
512        Grenada       1.44  2015     Very Low
513       Barbados       1.22  2015     Very Low
514  Saudi-Arabien       1.10  2015     Very Low
515          Malta       0.62  2015     Very Low
516          Katar       0.08  2015     Very Low

[171 rows x 4 columns]

In [21]:
wri_2015_df.sort_values("WRI_Score", ascending = True).head(60)

                 Country_Name  WRI_Score  Year WRI_Category
516                     Katar       0.08  2015     Very Low
515                     Malta       0.62  2015     Very Low
514             Saudi-Arabien       1.10  2015     Very Low
513                  Barbados       1.22  2015     Very Low
512                   Grenada       1.44  2015     Very Low
511                    Island       1.55  2015     Very Low
510                  Kiribati       1.73  2015     Very Low
509                   Bahrain       1.76  2015     Very Low
508    Ver. Arabische Emirate       1.84  2015     Very Low
507                  Schweden       2.22  2015     Very Low
506                  Singapur       2.24  2015     Very Low
505                  Finnland       2.26  2015     Very Low
504                   Ägypten       2.26  2015     Very Low
503                  Norwegen       2.28  2015     Very Low
502                    Israel       2.39  2015     Very Low
501                   Estland       2.42  2015     Very Low
500                   Schweiz       2.46  2015     Very Low
499                 Luxemburg       2.46  2015     Very Low
498                Seychellen       2.56  2015     Very Low
497                      Oman       2.75  2015     Very Low
496                Frankreich       2.76  2015     Very Low
495                    Zypern       2.76  2015     Very Low
494                  Dänemark       2.95  2015     Very Low
493                  Mongolei       2.96  2015     Very Low
492                   Litauen       2.98  2015     Very Low
491               Deutschland       3.00  2015     Very Low
490              Weißrussland       3.07  2015     Very Low
489                   Ukraine       3.09  2015     Very Low
488                   Spanien       3.10  2015     Very Low
487                    Kanada       3.14  2015     Very Low
486                    Kuwait       3.26  2015     Very Low
485                   Belgien       3.26  2015     Very Low
484                     Polen       3.27  2015     Very Low
483                  Lettland       3.42  2015     Very Low
482     Tschechische Republik       3.46  2015     Very Low
481                  Slowakei       3.52  2015          Low
480                  Portugal       3.56  2015          Low
479                 Slowenien       3.57  2015          Low
478    Vereinigtes Königreich       3.58  2015          Low
477                Österreich       3.61  2015          Low
476               Argentinien       3.62  2015          Low
475                  Paraguay       3.65  2015          Low
474                Kasachstan       3.67  2015          Low
473      Russische Föderation       3.84  2015          Low
472  Vereinigte Staaten v. A.       3.87  2015          Low
471                   Uruguay       3.93  2015          Low
470                    Libyen       3.95  2015          Low
469                Australien       3.98  2015          Low
467                   Bahamas       4.21  2015          Low
466                  Kroatien       4.21  2015          Low
468                 Brasilien       4.21  2015          Low
465                Neuseeland       4.23  2015          Low
464                 Bulgarien       4.26  2015          Low
463                    Irland       4.46  2015          Low
462                   Italien       4.54  2015          Low
461                 Jordanien       4.68  2015          Low
460          Äquatorialguinea       4.69  2015          Low
459                      Irak       4.76  2015          Low
458                  Südkorea       4.79  2015          Low
457                  Bolivien       4.82  2015          Low

In [22]:
# 2016
wri_2016_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2016)]
wri_2016_df

      Country_Name  WRI_Score  Year WRI_Category
1746       Vanuatu      36.28  2016    Very High
1747         Tonga      29.33  2016    Very High
1748   Philippines      26.70  2016    Very High
1749     Guatemala      19.88  2016    Very High
1750    Bangladesh      19.17  2016    Very High
...            ...        ...   ...          ...
1912       Grenada       1.42  2016     Very Low
1913      Barbados       1.32  2016     Very Low
1914  Saudi Arabia       1.14  2016     Very Low
1915         Malta       0.60  2016     Very Low
1916         Qatar       0.08  2016     Very Low

[171 rows x 4 columns]

In [23]:
wri_2016_df.sort_values("WRI_Score", ascending = True).head(60)

                    Country_Name  WRI_Score  Year WRI_Category
1916                       Qatar       0.08  2016     Very Low
1915                       Malta       0.60  2016     Very Low
1914                Saudi Arabia       1.14  2016     Very Low
1913                    Barbados       1.32  2016     Very Low
1912                     Grenada       1.42  2016     Very Low
1911                     Iceland       1.52  2016     Very Low
1910                     Bahrain       1.69  2016     Very Low
1909                    Kiribati       1.78  2016     Very Low
1908        United Arab Emirates       1.97  2016     Very Low
1907                      Sweden       2.12  2016     Very Low
1906                      Norway       2.19  2016     Very Low
1905                     Finland       2.21  2016     Very Low
1904                   Singapore       2.27  2016     Very Low
1903                       Egypt       2.29  2016     Very Low
1902                      Israel       2.30  2016     Very Low
1901                     Estonia       2.36  2016     Very Low
1900                 Switzerland       2.37  2016     Very Low
1899                  Luxembourg       2.43  2016     Very Low
1898                  Seychelles       2.55  2016     Very Low
1897                      France       2.62  2016     Very Low
1896                        Oman       2.64  2016     Very Low
1895                      Cyprus       2.68  2016     Very Low
1894                     Denmark       2.89  2016     Very Low
1893                   Lithuania       2.92  2016     Very Low
1892                     Germany       2.95  2016     Very Low
1891                     Ukraine       2.97  2016     Very Low
1890                      Canada       3.01  2016     Very Low
1889                       Spain       3.05  2016     Very Low
1888                     Belgium       3.07  2016     Very Low
1887                    Mongolia       3.08  2016     Very Low
1886                     Belarus       3.11  2016     Very Low
1885                      Poland       3.20  2016     Very Low
1884                      Kuwait       3.28  2016     Very Low
1883                      Latvia       3.31  2016     Very Low
1882              Czech Republic       3.37  2016     Very Low
1881                    Slovakia       3.39  2016     Very Low
1880                     Austria       3.39  2016     Very Low
1879                    Slovenia       3.41  2016     Very Low
1878                    Portugal       3.45  2016     Very Low
1877                    Paraguay       3.48  2016          Low
1876              United Kingdom       3.54  2016          Low
1874                   Argentina       3.56  2016          Low
1875                  Kazakhstan       3.56  2016          Low
1873                      Russia       3.58  2016          Low
1872               United States       3.76  2016          Low
1871      Libyan Arab Jamahiriya       3.79  2016          Low
1870                     Croatia       3.97  2016          Low
1869                     Uruguay       4.03  2016          Low
1868                      Brazil       4.09  2016          Low
1867                     Bahamas       4.14  2016          Low
1866                   Australia       4.22  2016          Low
1865                    Bulgaria       4.22  2016          Low
1864                       Italy       4.42  2016          Low
1863           Equatorial Guinea       4.46  2016          Low
1862                        Iraq       4.49  2016          Low
1861                 New Zealand       4.55  2016          Low
1860                      Jordan       4.58  2016          Low
1859                     Bolivia       4.58  2016          Low
1857                     Ireland       4.60  2016          Low
1856  Iran (Islamic Republic of)       4.73  2016          Low

In [24]:
# 2017
wri_2017_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2017)]
wri_2017_df

       Country_Name  WRI_Score  Year WRI_Category
869         Vanuatu      36.45  2017    Very High
870           Tonga      28.57  2017    Very High
871     Philippinen      27.69  2017    Very High
872       Guatemala      20.46  2017    Very High
873     Bangladesch      19.57  2017    Very High
...             ...        ...   ...          ...
1035        Grenada       1.44  2017     Very Low
1036       Barbados       1.21  2017     Very Low
1037  Saudi-Arabien       1.21  2017     Very Low
1038          Malta       0.61  2017     Very Low
1039          Katar       0.09  2017     Very Low

[171 rows x 4 columns]

In [25]:
wri_2017_df.sort_values("WRI_Score", ascending = True).head(60)

                      Country_Name  WRI_Score  Year WRI_Category
1039                         Katar       0.09  2017     Very Low
1038                         Malta       0.61  2017     Very Low
1036                      Barbados       1.21  2017     Very Low
1037                 Saudi-Arabien       1.21  2017     Very Low
1035                       Grenada       1.44  2017     Very Low
1034                        Island       1.54  2017     Very Low
1033                      Kiribati       1.76  2017     Very Low
1032                       Bahrain       1.77  2017     Very Low
1031  Vereinigte Arabische Emirate       1.98  2017     Very Low
1030                      Schweden       2.19  2017     Very Low
1029                      Finnland       2.25  2017     Very Low
1028                      Norwegen       2.29  2017     Very Low
1027                       Ägypten       2.30  2017     Very Low
1026                      Singapur       2.36  2017     Very Low
1025                        Israel       2.40  2017     Very Low
1024                       Estland       2.45  2017     Very Low
1023                       Schweiz       2.50  2017     Very Low
1022                     Luxemburg       2.55  2017     Very Low
1021                    Seychellen       2.56  2017     Very Low
1020                          Oman       2.72  2017     Very Low
1019                    Frankreich       2.73  2017     Very Low
1018                        Zypern       2.76  2017     Very Low
1017                      Dänemark       2.99  2017     Very Low
1016                       Litauen       3.06  2017     Very Low
1015                      Mongolei       3.08  2017     Very Low
1014                   Deutschland       3.09  2017     Very Low
1013                       Ukraine       3.10  2017     Very Low
1012                        Kanada       3.13  2017     Very Low
1011                  Weißrussland       3.19  2017     Very Low
1010                       Spanien       3.23  2017     Very Low
1009                       Belgien       3.33  2017     Very Low
1008                         Polen       3.35  2017     Very Low
1007                      Lettland       3.43  2017     Very Low
1006                        Kuwait       3.46  2017     Very Low
1005         Tschechische Republik       3.52  2017     Very Low
1004                      Slowakei       3.56  2017          Low
1003        Vereinigtes Königreich       3.60  2017          Low
1002                     Slowenien       3.62  2017          Low
1001                    Österreich       3.63  2017          Low
1000                      Portugal       3.65  2017          Low
999                    Argentinien       3.69  2017          Low
998                       Paraguay       3.71  2017          Low
997                     Kasachstan       3.74  2017          Low
996           Russische Föderation       3.78  2017          Low
995                         Libyen       3.89  2017          Low
994       Ver. Staaten von Amerika       3.90  2017          Low
993                        Uruguay       4.03  2017          Low
992                        Bahamas       4.14  2017          Low
991                       Kroatien       4.21  2017          Low
990                      Brasilien       4.23  2017          Low
989                     Australien       4.24  2017          Low
988                      Bulgarien       4.34  2017          Low
987                     Neuseeland       4.42  2017          Low
986                         Irland       4.56  2017          Low
985               Äquatorialguinea       4.56  2017          Low
984                        Italien       4.63  2017          Low
983                      Jordanien       4.76  2017          Low
982                           Irak       4.77  2017          Low
981                       Südkorea       4.80  2017          Low
980                           Iran       4.87  2017          Low

In [26]:
# 2018
wri_2018_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2018)]
wri_2018_df

       Country_Name  WRI_Score  Year WRI_Category
1574        Vanuatu      50.28  2018    Very High
1575          Tonga      29.42  2018    Very High
1576    Philippinen      25.14  2018    Very High
1577      Salomonen      23.29  2018    Very High
1578         Guyana      23.23  2018    Very High
...             ...        ...   ...          ...
1741       Barbados       1.40  2018     Very Low
1742        Grenada       1.39  2018     Very Low
1743  Saudi-Arabien       1.25  2018     Very Low
1744          Malta       0.57  2018     Very Low
1745          Katar       0.36  2018     Very Low

[172 rows x 4 columns]

In [27]:
wri_2018_df.sort_values("WRI_Score", ascending = True).head(60)

                        Country_Name  WRI_Score  Year WRI_Category
1745                           Katar       0.36  2018     Very Low
1744                           Malta       0.57  2018     Very Low
1743                   Saudi-Arabien       1.25  2018     Very Low
1742                         Grenada       1.39  2018     Very Low
1741                        Barbados       1.40  2018     Very Low
1740                          Island       1.61  2018     Very Low
1739                         Ägypten       1.90  2018     Very Low
1738                        Finnland       2.06  2018     Very Low
1737                       Luxemburg       2.16  2018     Very Low
1736                        Schweden       2.19  2018     Very Low
1735                          Israel       2.20  2018     Very Low
1734                         Schweiz       2.23  2018     Very Low
1733                         Estland       2.25  2018     Very Low
1732                        Norwegen       2.29  2018     Very Low
1731                        Singapur       2.31  2018     Very Low
1730                      Frankreich       2.34  2018     Very Low
1729                         Litauen       2.38  2018     Very Low
1728                     Deutschland       2.42  2018     Very Low
1727                        Mongolei       2.46  2018     Very Low
1726                          Zypern       2.53  2018     Very Low
1725                          Kanada       2.63  2018     Very Low
1724                        Dänemark       2.68  2018     Very Low
1723                            Oman       2.69  2018     Very Low
1722                         Bahrain       2.73  2018     Very Low
1720                    Weißrussland       2.77  2018     Very Low
1721                         Belgien       2.77  2018     Very Low
1719                         Spanien       2.80  2018     Very Low
1718                         Ukraine       2.90  2018     Very Low
1717                        Lettland       2.90  2018     Very Low
1716                      Österreich       2.92  2018     Very Low
1715                           Polen       2.94  2018     Very Low
1714    Vereinigte Arabische Emirate       2.99  2018     Very Low
1713           Tschechische Republik       3.10  2018     Very Low
1712                        Slowakei       3.11  2018     Very Low
1711                        Portugal       3.13  2018     Very Low
1710                       Slowenien       3.23  2018          Low
1709          Vereinigtes Königreich       3.31  2018          Low
1708                     Argentinien       3.32  2018          Low
1707                        Paraguay       3.35  2018          Low
1706                         Uruguay       3.36  2018          Low
1705                          Kuwait       3.39  2018          Low
1704  Vereinigte Staaten von Amerika       3.42  2018          Low
1703            Russische Föderation       3.42  2018          Low
1702                      Kasachstan       3.50  2018          Low
1701                        Kroatien       3.59  2018          Low
1700                          Libyen       3.66  2018          Low
1699                        Südkorea       3.82  2018          Low
1698                       Moldawien       3.84  2018          Low
1697                          Irland       4.06  2018          Low
1696                       Bulgarien       4.09  2018          Low
1695                         Italien       4.12  2018          Low
1694                       Brasilien       4.25  2018          Low
1693                            Iran       4.28  2018          Low
1692                         Bahamas       4.34  2018          Low
1691                      Australien       4.41  2018          Low
1690                       Jordanien       4.41  2018          Low
1689                        Bolivien       4.58  2018          Low
1688                      Seychellen       4.59  2018          Low
1687         Bosnien und Herzegowina       4.67  2018          Low
1686                      Neuseeland       4.71  2018          Low

In [28]:
# 2019
wri_2019_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2019)]
wri_2019_df

                       Country_Name  WRI_Score  Year WRI_Category
1040                        Vanuatu      56.71  2019    Very High
1041            Antigua und Barbuda      30.80  2019    Very High
1042                          Tonga      29.39  2019    Very High
1043                      Salomonen      29.36  2019    Very High
1044                         Guyana      22.87  2019    Very High
...                             ...        ...   ...          ...
1215                  Saudi-Arabien       1.04  2019     Very Low
1216                        Grenada       1.01  2019     Very Low
1217  St. Vincent und d. Grenadinen       0.80  2019     Very Low
1218                          Malta       0.54  2019     Very Low
1219                          Katar       0.31  2019     Very Low

[180 rows x 4 columns]

In [29]:
wri_2019_df.sort_values("WRI_Score", ascending = True).head(60)

                       Country_Name  WRI_Score  Year WRI_Category
1219                          Katar       0.31  2019     Very Low
1218                          Malta       0.54  2019     Very Low
1217  St. Vincent und d. Grenadinen       0.80  2019     Very Low
1216                        Grenada       1.01  2019     Very Low
1215                  Saudi-Arabien       1.04  2019     Very Low
1214                       Barbados       1.35  2019     Very Low
1213                         Island       1.71  2019     Very Low
1212                        Ägypten       1.84  2019     Very Low
1211                       Finnland       1.94  2019     Very Low
1210                        Estland       2.04  2019     Very Low
1209                        Schweiz       2.05  2019     Very Low
1208                      Malediven       2.08  2019     Very Low
1207                       Schweden       2.20  2019     Very Low
1206                        Litauen       2.29  2019     Very Low
1205                       Norwegen       2.34  2019     Very Low
1204                      Luxemburg       2.36  2019     Very Low
1203                     Frankreich       2.37  2019     Very Low
1202                    Deutschland       2.43  2019     Very Low
1201          São Tomé and Príncipe       2.49  2019     Very Low
1200                       Singapur       2.51  2019     Very Low
1199                   Weißrussland       2.59  2019     Very Low
1198                       Dänemark       2.65  2019     Very Low
1197                        Ukraine       2.66  2019     Very Low
1196                           Oman       2.74  2019     Very Low
1195                        Belgien       2.79  2019     Very Low
1193                     Österreich       2.87  2019     Very Low
1194                         Zypern       2.87  2019     Very Low
1192                        Bahrain       2.89  2019     Very Low
1191                       Lettland       2.93  2019     Very Low
1190                          Polen       2.97  2019     Very Low
1189          Tschechische Republik       2.99  2019     Very Low
1188                       Mongolei       3.00  2019     Very Low
1187                         Kanada       3.03  2019     Very Low
1186                       Südkorea       3.08  2019     Very Low
1185                       Slowakei       3.20  2019     Very Low
1184                         Israel       3.24  2019     Very Low
1183         Vereinigtes Königreich       3.30  2019          Low
1182                         Bhutan       3.31  2019          Low
1181                       Paraguay       3.32  2019          Low
1180                         Libyen       3.34  2019          Low
1179                      Slowenien       3.34  2019          Low
1178                       Portugal       3.44  2019          Low
1177                        Spanien       3.46  2019          Low
1176           Russische Föderation       3.52  2019          Low
1175                    Argentinien       3.53  2019          Low
1174                     Kasachstan       3.56  2019          Low
1173   Vereinigte Arabische Emirate       3.66  2019          Low
1172       Ver. Staaten von Amerika       3.76  2019          Low
1171                       Kroatien       3.96  2019          Low
1170                      Moldawien       3.98  2019          Low
1168                      Bulgarien       4.08  2019          Low
1169                      Jordanien       4.08  2019          Low
1167                       Botswana       4.28  2019          Low
1166                        Bahamas       4.31  2019          Low
1165                         Irland       4.37  2019          Low
1164                         Kuwait       4.49  2019          Low
1163                     Australien       4.49  2019          Low
1162                      St. Lucia       4.52  2019          Low
1161                           Laos       4.53  2019          Low
1160                        Italien       4.57  2019          Low

In [30]:
# 2020
wri_2020_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2020)]
wri_2020_df

                      Country_Name  WRI_Score  Year WRI_Category
1220                       Vanuatu      49.74  2020    Very High
1221                         Tonga      29.72  2020    Very High
1222                      Dominica      28.47  2020    Very High
1223           Antigua und Barbuda      27.44  2020    Very High
1224                     Salomonen      24.25  2020    Very High
...                            ...        ...   ...          ...
1396                 Saudi-Arabien       1.04  2020     Very Low
1397                       Grenada       0.97  2020     Very Low
1398  St. Vincent u. d. Grenadinen       0.81  2020     Very Low
1399                         Malta       0.66  2020     Very Low
1400                         Katar       0.31  2020     Very Low

[180 rows x 4 columns]

In [34]:
wri_2020_df.sort_values("WRI_Score", ascending = True).head(60)

                      Country_Name  WRI_Score  Year WRI_Category
1400                         Katar       0.31  2020     Very Low
1399                         Malta       0.66  2020     Very Low
1398  St. Vincent u. d. Grenadinen       0.81  2020     Very Low
1397                       Grenada       0.97  2020     Very Low
1396                 Saudi-Arabien       1.04  2020     Very Low
1395                      Barbados       1.39  2020     Very Low
1394                        Island       1.69  2020     Very Low
1393                       Ägypten       1.78  2020     Very Low
1392                      Finnland       1.96  2020     Very Low
1391                       Estland       2.03  2020     Very Low
1390                     Malediven       2.12  2020     Very Low
1389                       Schweiz       2.15  2020     Very Low
1388                      Schweden       2.20  2020     Very Low
1387                       Litauen       2.26  2020     Very Low
1386                    Frankreich       2.47  2020     Very Low
1385                     Luxemburg       2.50  2020     Very Low
1384                      Norwegen       2.52  2020     Very Low
1383                      Singapur       2.57  2020     Very Low
1382         São Tomé and Príncipe       2.58  2020     Very Low
1381                   Deutschland       2.63  2020     Very Low
1380                       Belgien       2.66  2020     Very Low
1379                  Weißrussland       2.67  2020     Very Low
1378                      Dänemark       2.74  2020     Very Low
1377                       Ukraine       2.75  2020     Very Low
1376                          Oman       2.76  2020     Very Low
1375                        Kanada       2.79  2020     Very Low
1374                       Bahrain       2.91  2020     Very Low
1373                        Israel       2.95  2020     Very Low
1372                      Mongolei       2.97  2020     Very Low
1371                        Bhutan       2.97  2020     Very Low
1370                      Lettland       2.99  2020     Very Low
1369                        Zypern       2.99  2020     Very Low
1368         Tschechische Republik       3.00  2020     Very Low
1367                         Polen       3.04  2020     Very Low
1366                    Österreich       3.06  2020     Very Low
1365                      Südkorea       3.14  2020     Very Low
1364  Vereinigte Arabische Emirate       3.30  2020          Low
1363                      Slowakei       3.37  2020          Low
1362                      Paraguay       3.38  2020          Low
1361                     Slowenien       3.41  2020          Low
1360                        Libyen       3.41  2020          Low
1359        Vereinigtes Königreich       3.46  2020          Low
1358                   Argentinien       3.50  2020          Low
1357          Russische Föderation       3.55  2020          Low
1356                    Kasachstan       3.58  2020          Low
1355                       Spanien       3.61  2020          Low
1354                      Portugal       3.66  2020          Low
1353      Ver. Staaten von Amerika       3.90  2020          Low
1352                     Moldawien       4.04  2020          Low
1351                     Jordanien       4.13  2020          Low
1350                      Kroatien       4.13  2020          Low
1349                     Bulgarien       4.17  2020          Low
1348                      Botswana       4.20  2020          Low
1347                       Bahamas       4.38  2020          Low
1346                          Laos       4.47  2020          Low
1345                        Kuwait       4.48  2020          Low
1344                        Irland       4.50  2020          Low
1343                    Australien       4.54  2020          Low
1342                     St. Lucia       4.70  2020          Low
1341                       Italien       4.75  2020          Low

In [32]:
# 2021
wri_2021_df = wri_rank_transformed_df.loc[(wri_rank_transformed_df["Year"] == 2021)]
wri_2021_df

                      Country_Name  WRI_Score  Year WRI_Category
688                        Vanuatu      47.73  2021    Very High
689                      Salomonen      31.16  2021    Very High
690                          Tonga      30.51  2021    Very High
691                       Dominica      27.42  2021    Very High
692            Antigua und Barbuda      27.28  2021    Very High
..                             ...        ...   ...          ...
864                        Grenada       1.06  2021     Very Low
865                  Saudi-Arabien       0.94  2021     Very Low
866  St. Vincent u. die Grenadinen       0.70  2021     Very Low
867                          Malta       0.69  2021     Very Low
868                          Katar       0.30  2021     Very Low

[181 rows x 4 columns]

In [35]:
wri_2021_df.sort_values("WRI_Score", ascending = True).head(60)

                      Country_Name  WRI_Score  Year WRI_Category
868                          Katar       0.30  2021     Very Low
867                          Malta       0.69  2021     Very Low
866  St. Vincent u. die Grenadinen       0.70  2021     Very Low
865                  Saudi-Arabien       0.94  2021     Very Low
864                        Grenada       1.06  2021     Very Low
863                       Barbados       1.37  2021     Very Low
862                      Malediven       1.69  2021     Very Low
861                         Island       1.71  2021     Very Low
860                        Ägypten       1.82  2021     Very Low
859                        Estland       1.99  2021     Very Low
858                       Finnland       2.00  2021     Very Low
857                        Schweiz       2.04  2021     Very Low
856                        Litauen       2.18  2021     Very Low
855                       Schweden       2.25  2021     Very Low
854                       Singapur       2.50  2021     Very Low
853                     Frankreich       2.51  2021     Very Low
852                      Luxemburg       2.53  2021     Very Low
851                           Oman       2.54  2021     Very Low
850          São Tomé and Príncipe       2.57  2021     Very Low
849                        Belarus       2.64  2021     Very Low
848                    Deutschland       2.66  2021     Very Low
847                        Belgien       2.71  2021     Very Low
846                        Ukraine       2.72  2021     Very Low
845                       Dänemark       2.79  2021     Very Low
843                         Kanada       2.81  2021     Very Low
844                         Israel       2.81  2021     Very Low
842                       Norwegen       2.87  2021     Very Low
841                        Bahrain       2.93  2021     Very Low
840                       Mongolei       2.98  2021     Very Low
839                       Lettland       3.01  2021     Very Low
838          Tschechische Republik       3.06  2021     Very Low
837                     Österreich       3.06  2021     Very Low
836                          Polen       3.07  2021     Very Low
835                       Südkorea       3.13  2021     Very Low
834   Vereinigte Arabische Emirate       3.14  2021     Very Low
833                         Zypern       3.21  2021     Very Low
832                         Bhutan       3.25  2021     Very Low
831                       Slowakei       3.33  2021          Low
830                      Slowenien       3.42  2021          Low
829                         Libyen       3.47  2021          Low
828                     Kasachstan       3.48  2021          Low
827         Vereinigtes Königreich       3.51  2021          Low
826                    Argentinien       3.52  2021          Low
825                       Portugal       3.52  2021          Low
824           Russische Föderation       3.53  2021          Low
823                       Paraguay       3.56  2021          Low
822                        Spanien       3.62  2021          Low
821                       Botswana       3.94  2021          Low
820       Ver. Staaten von Amerika       3.98  2021          Low
819                      Moldawien       4.00  2021          Low
818                      Jordanien       4.11  2021          Low
817                      Bulgarien       4.16  2021          Low
816                       Kroatien       4.16  2021          Low
815                        Bahamas       4.27  2021          Low
814                         Kuwait       4.32  2021          Low
813                           Laos       4.46  2021          Low
812                         Irland       4.49  2021          Low
811                      St. Lucia       4.52  2021          Low
810                     Australien       4.54  2021          Low
809                          Nepal       4.66  2021          Low